*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 600px;
    background-image: url(i1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.app{
    background: #fffefe;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #9b0003ec;
    font-weight: 600;
    border-bottom: 1px solid #373737;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: #022e75;
    font-weight: 600;
}
.btn{
    background: #fffdfd;
    color: #1e1e1e;
    font-weight: 500;
    width: 100%;
    border: 1px solid #1d1c1c;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #e4e48d;
    color: rgb(67, 135, 237);
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    display: none;
    background: #0a3d8f;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin:20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}
.correct{
    background: #74d79f;
}
.incorrect{
    background: #ee5858;
}